@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Lora:wght@400;700&family=Poppins:wght@200;400;700&display=swap");

/* ----------------------------------------------------------moonberry------------------------------------------------------*/

/* inital styling! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 18px;
}

/* -----containers----- */

.screen-8 {
  height: 8%;
}

.screen-half {
  height: 50%;
}

.screen-70 {
  height: 70%;
}

.screen-92 {
  height: 92%;
}

.screen-full {
  height: 100%;
}

/* -----pre-made-components----- */

.hdr {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.hdr-two {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 500px;
}

.hdr-three {
  height: 8%;
  display: flex;
  align-items: center;
  padding: 0 500px;
}

.hdr-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.hdr-left-two {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
}

.hdr-right {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hdr-logo {
  width: 50px;
}

#hdr-input {
  margin-left: 20px;
  height: 40%;
  width: 300px;
  padding-left: 10px;
  outline: none;
}

.hero {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-full {
  position: relative;
  height: 92%;
  background-color: rgb(128, 61, 61);
}

#hero-full-img {
  height: 100%;
  width: 100%;
}

#hero-full-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----buttons----- */

.btn-sm {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  transition: 300ms;
}

.btn-sm:hover {
  color: black;
  background-color: #fbfbff;
  cursor: pointer;
  border-radius: 25px;
}

.crd-sm {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.crd-med {
  width: 400px;
  height: 400px;
}
.crd-lrg {
  width: 400px;
  height: 600px;
}

/* fonts */

.font-kiwi {
  font-family: "Kiwi Maru", serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-lora {
  font-family: "Lora", serif;
}

/* font sizing */

.font-sm {
  font-size: 10px;
}
.font-md {
  font-size: 20px;
}
.font-lrg {
  font-size: 30px;
}

.h1 {
  font-size: 150px;
}

.h2 {
  font-size: 100px;
}

.h3 {
  font-size: 75px;
}

.h4 {
  font-size: 50px;
}

/* padding */

.pd-50 {
  padding: 50px;
}

.pd-l-10 {
  padding-left: 10px;
}

.pd-lr-10 {
  padding: 0 10px;
}

.pd-lr-30 {
  padding: 0 30px;
}

.pd-lr-50 {
  padding: 0 50px;
}
.pd-lr-250 {
  padding: 0 250px;
}

/* margin */

.mg-lr-10 {
  margin: 0 10px;
}

.mg-lr-30 {
  margin: 0 30px;
}

.mg-lr-50 {
  margin: 0 50px;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-t-30 {
  margin-top: 30px;
}

.mg-t-50 {
  margin-top: 50px;
}

.line-space {
  line-height: 1.5;
}

/* display */

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-c-c-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* text colors */

.white {
  color: #ffffff;
}
.black {
  color: black;
}

.moonberry {
  color: #fbfbff;
}

.moonberry-light {
  color: #ebebff;
}

.red {
  color: #b23a48;
}

.blue {
  color: #3a5683;
}

.green {
  color: #70b77e;
}

/* background colors */

.bg-white {
  background-color: #ffffff;
}

.bg-moonberry-light {
  background-color: #fbfbff;
}

.bg-moonberry {
  background-color: #ebebff;
}

.bg-red {
  background-color: #b23a48;
}

.bg-blue {
  background-color: #3a5683;
}

.bg-green {
  background-color: #70b77e;
}
