@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Lora:wght@400;700&family=Poppins:wght@200;400;700&display=swap');

/* ----------------------------------------------------------moonberry------------------------------------------------------*/

/* inital styling! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: 'kiwi', sans-serif;
  line-height: 1.5;
}

/* -----containers----- */

.screen-8 {
  height: 8%;
}

.screen-half {
  height: 50%;
}

.screen-70 {
  height: 70%;
}

.screen-92 {
  height: 92%;
}

.screen-full {
  height: 100%;
}

.screen-split-25 {
  width: 30%;
  height: 100%;
}

.screen-split-75 {
  width: 70%;
  height: 100%;
}

/* -----pre-made-components----- */

.hdr {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.hdr-two {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 500px;
}

.hdr-three {
  height: 8%;
  display: flex;
  align-items: center;
  padding: 0 500px;
}

.hdr-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.hdr-left-two {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
}

.hdr-right {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hdr-logo {
  width: 50px;
}

#hdr-input {
  margin-left: 20px;
  height: 40%;
  width: 300px;
  padding-left: 10px;
  outline: none;
}

.hero {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-full {
  position: relative;
  height: 92%;
  background-color: rgb(128, 61, 61);
}

#hero-full-img {
  height: 100%;
  width: 100%;
}

#hero-full-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----buttons----- */
a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  color: #00000073;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.btn:hover {
  /*   background-color: rgb(0, 0, 0);
  color: rgb(216, 216, 216);
  border-radius: 25px; */
  cursor: pointer;
}

.crd-sm {
  width: 200px;
  height: 200px;
}

.crd-med {
  width: 400px;
  height: 400px;
}
.crd-lrg {
  width: 400px;
  height: 600px;
}

/* overflow */

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

/* fonts */

.font-kiwi {
  font-family: 'Kiwi Maru', serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

/* font sizing */

.fs-s {
  font-size: 15px;
}
.fs-m {
  font-size: 21px;
}
.fs-l {
  font-size: 26px;
}

/* -----text alignment----- */

.text-ac {
  text-align: center;
}

.text-al {
  text-align: left;
}

.text-ar {
  text-align: right;
}
/* -----width----- */

.vw-1 {
  width: 10vw;
}

.vw-2 {
  width: 20vw;
}

.vw-3 {
  width: 30vw;
}

.pw-1 {
  width: 100px;
}

.pw-2 {
  width: 200px;
}

.pw-3 {
  width: 300px;
}

.pw-4 {
  width: 400px;
}

.pw-5 {
  width: 500px;
}

/* height */

.vh-1 {
  height: 10vh;
}

.vh-2 {
  height: 20vh;
}

.vh-3 {
  height: 30vh;
}

.vh-4 {
  height: 40vh;
}

.vh-5 {
  height: 50vh;
}

.vh-6 {
  height: 60vh;
}

.vh-7 {
  height: 70vh;
}

.vh-8 {
  height: 80vh;
}

.vh-9 {
  height: 90vh;
}

.vh-10 {
  height: 100vh;
}

.ph-1 {
  height: 100px;
}

.ph-2 {
  height: 200px;
}

.ph-3 {
  height: 300px;
}

.ph-4 {
  height: 400px;
}

.ph-5 {
  height: 500px;
}

/* padding */

.pd-1 {
  padding: 10px;
}

.pd-2 {
  padding: 20px;
}

.pd-3 {
  padding: 30px;
}

/* margin */

.mg-1 {
  margin: 10px;
}

.mg-2 {
  margin: 20px;
}

.mg-3 {
  margin: 30px;
}

/* display */

.flex {
  display: flex;
}

.flex-vc {
  display: flex;
  align-items: center;
}

.flex-hc {
  display: flex;
  justify-content: space-between;
}

.flex-vc-hc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-vc-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-vc-se {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* text colors */

.text-white {
  color: #ffffff;
}

.text-black {
  color: black;
}

.text-moonberry {
  color: #fbfbff;
}

.text-moonberry-light {
  color: #ebebff;
}

.text-red {
  color: #b23a48;
}

.text-blue {
  color: #3a5683;
}

.text-green {
  color: #70b77e;
}

/* background colors */

.bg-white {
  background-color: #ffffff;
}

.bg-moonberry-light {
  background-color: #fbfbff;
}

.bg-moonberry {
  background-color: #ebebff;
}

.bg-red {
  background-color: #b23a48;
}

.bg-blue {
  background-color: #3a5683;
}

.bg-green {
  background-color: #70b77e;
}

/* border-radius */

.br-1 {
  border-radius: 10px;
}
.br-2 {
  border-radius: 20px;
}
.br-3 {
  border-radius: 30px;
}

.br-c {
  border-radius: 10000px;
}

@media only screen and (max-width: 1100px) {
  .mobile-m {
    flex-direction: column;
  }
}
